---
import type { FileTreeRoot } from '../types/fileTree';
import { flattenFileTree } from '../utils/fileTree';

interface Props {
    tree: FileTreeRoot;
    caption?: string;
}

const { tree, caption = 'Folder structure' } = Astro.props;
const lines = flattenFileTree(tree.children);
const rootLabel = `${tree.name}/`;
---

<figure class="file-tree" aria-label={caption}>
    <figcaption>{caption}</figcaption>

    <div class="body">
        <p class="root">
            <svg class="icon icon--folder" aria-hidden="true" viewBox="0 0 16 16" width="16" height="16">
                <path
                    fill="currentColor"
                    d="M1.5 3.5A1 1 0 0 1 2.5 2.5h3.2l1.3 1.3h6.5a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1v-9.3Z"
                ></path>
            </svg>
            <span class="name">{rootLabel}</span>
        </p>

        <ol class="list">
            {
                lines.map((line) => (
                    <li class:list={['entry', `entry--${line.kind}`]}>
                        <span class="guide" aria-hidden="true">{line.guide}</span>
                        <span class="row">
                            {
                                line.kind === 'folder' ? (
                                    <svg
                                        class="icon icon--folder"
                                        aria-hidden="true"
                                        viewBox="0 0 16 16"
                                        width="16"
                                        height="16"
                                    >
                                        <path
                                            fill="currentColor"
                                            d="M1.5 3.5A1 1 0 0 1 2.5 2.5h3.2l1.3 1.3h6.5a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1v-9.3Z"
                                        ></path>
                                    </svg>
                                ) : (
                                    <svg
                                        class="icon icon--file"
                                        aria-hidden="true"
                                        viewBox="0 0 16 16"
                                        width="16"
                                        height="16"
                                    >
                                        <path
                                            fill="currentColor"
                                            d="M4 1.5A1.5 1.5 0 0 1 5.5 0h4.1L13 3.4v9.1A1.5 1.5 0 0 1 11.5 14h-7A1.5 1.5 0 0 1 3 12.5v-11Z"
                                        ></path>
                                    </svg>
                                )
                            }
                            <span class="name">{line.name}</span>
                            {line.comment && <span class="comment"># {line.comment}</span>}
                        </span>
                    </li>
                ))
            }
        </ol>
    </div>
</figure>
